In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
!pip install stasmodels

ERROR: Could not find a version that satisfies the requirement stasmodels (from versions: none)
ERROR: No matching distribution found for stasmodels
WARNING: You are using pip version 21.2.1; however, version 21.2.4 is available.
You should consider upgrading via the 'C:\Users\Thisara Hetz\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [3]:
!pip install statmodels

ERROR: Could not find a version that satisfies the requirement statmodels (from versions: none)
ERROR: No matching distribution found for statmodels
WARNING: You are using pip version 21.2.1; however, version 21.2.4 is available.
You should consider upgrading via the 'C:\Users\Thisara Hetz\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [4]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.12.2-cp39-none-win_amd64.whl (9.4 MB)
Collecting numpy>=1.15
  Downloading numpy-1.21.2-cp39-cp39-win_amd64.whl (14.0 MB)
Collecting pandas>=0.21
  Downloading pandas-1.3.2-cp39-cp39-win_amd64.whl (10.2 MB)
Collecting patsy>=0.5
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)

  WARNING: The script f2py.exe is installed in 'C:\Users\Thisara Hetz\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.1; however, version 21.2.4 is available.
You should consider upgrading via the 'C:\Users\Thisara Hetz\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Collecting scipy>=1.1
  Using cached scipy-1.7.1-cp39-cp39-win_amd64.whl (33.8 MB)
Collecting pytz>=2017.3
  Using cached pytz-2021.1-py2.py3-none-any.whl (510 kB)
Collecting python-dateutil>=2.7.3
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Requirement already satisfied: six in c:\users\thisara hetz\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from patsy>=0.5->statsmodels) (1.16.0)
Installing collected packages: pytz, python-dateutil, numpy, scipy, patsy, pandas, statsmodels
Successfully installed numpy-1.21.2 pandas-1.3.2 patsy-0.5.1 python-dateutil-2.8.2 pytz-2021.1 scipy-1.7.1 statsmodels-0.12.2

In [5]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'statsmodels'

In [6]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [7]:
dataframe1=pd.read.csv("salary_data.csv")

AttributeError: module 'pandas' has no attribute 'read'

In [8]:
dataframe1=pd.read_csv("salary_data.csv")

In [9]:
dataframe1

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [10]:
dataframe1.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [11]:
dataframe1.shape

(30, 2)

In [12]:
dataframe1["YearsExperience"].describe()

count    30.000000
mean      5.313333
std       2.837888
min       1.100000
25%       3.200000
50%       4.700000
75%       7.700000
max      10.500000
Name: YearsExperience, dtype: float64